.box {
    background-color: yellow;
    width: 100px;
    border: 1px solid black;
}

.milly {
    background-color: lightpink;
}
.merlino {
    background-color: lightblue;
}
.miffie {
    background-color: lightgoldenrodyellow;
}